@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: #d9a7c7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #d9a7c7,
    #fffcdc
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #d9a7c7,
    #fffcdc
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
  border: 1px solid;
  width: 590px;
  height: 100vh;
  margin: 0 auto;
}

.header {
  border: 1px solid;
  padding: 15px;
  color: blue;
}

.title {
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 7px;
}

.title i {
  font-size: 30px;
}

.title span {
  font-size: 18px;
}
